{% extends 'base.html' %}

{% block content %}

<table class="table">
    <thead>
        <tr> 
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>

        </tr>
    </thead>
    <tbody>

    {% for comida in alimentos %}
        <tr>
            <th scope="row">{{ comida.id }}</th>
            <td>{{ comida.nombre }}</td>
            <td><a href="http://127.0.0.1:8000/modificarDieta/eliminarComida/{{comida.id}}/{{dieta}}" class="btn btn-danger">ELIMINAR</td>
        </tr>
    {% endfor %}

    </tbody>
</table>

{% endblock content %}