{% extends 'base.html' %} {% load static %} 
{% block title %}MealMaster{%endblock %} 

{% block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %} 

{% block content %}

<h1>Meal Master</h1>
<h4>¡Mejora tu salud con nosotros!</h4>
<header>
  <nav id="nav">
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="{% url 'listarRutinas'%}">Trainings</a>
      </li>
      <li>
        <a href="{% url 'listarDietas'%}">Meal plans</a>
      </li>
      <li>
        <a href="http://127.0.0.1:8000/preguntaChat/{{"temp"}}">ChatGPT</a>
      </li>
      {% if user.is_authenticated %}
      <li>
        <a href="{% url 'logout' %}"> Cerrar Sesion </a>
      </li>
      <li>
        <a href="#">@{{ user.username }}</a>
      </li>
      {% else %}
      <li>
        <a href="{% url 'login' %}">Iniciar Sesion</a>
      </li>
      <li>
        <a href="{% url 'registro' %}">Registrarse</a>
      </li>
      {% endif %}
    </ul>
  </nav>
</header>

{% endblock %}
