{% extends 'base.html' %}


{% block content %}




<H1>TUS DIETAS</H1>

<P></P>

<!-- <div class="row col-12 justify-content-end mb-2 pr-0">
     <button type="button" class="btn btn-success col-md-3">Agregar nuevo alimento</button>
    <a class="btn btn-success col-md-3"  href=""></a> 
</div> -->

<p></p>

<table class="table">
    <thead>
        <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>.
        <a href="{% url 'DescripcionComidas' %}" class="btn btn-success">Buscar informacion detallada de una dieta</a>
        </tr>
    </thead>

        <tbody>
    {% for dieta in dietas %}
    
        <tr>
        <th scope="row">{{ dieta.id }}</th>
        <td>{{ dieta.nombre }}</td>
        <td>{{ dieta.descripcion}}</td>
        </tr>
        {% endfor %}
        <!-- <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        </tr>
        <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
        </tr> -->
    </tbody>
    </table>

{% endblock %}