{% extends 'base.html' %}



{% block content %}

<H1>TUS DIETAS</H1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Comida</th>
        </tr>
    
    </thead>

    <tbody>
    {% for dieta in dietas %}
    
        <tr>
            <th scope="row">{{ dieta.id }}</th>
            <td>{{ dieta.nombre }}</td>
            <td>{{ dieta.descripcion }}</td>
            <td><a href="alimentos/{{dieta.nombre}}" class="btn btn-success">Ver Comidas</td>
        </tr>
    {% endfor %}

    </tbody>
</table>

{% endblock %}